/vendor
/node_modules
/letsencrypt.config
/public/css/*
/public/js/*
/public/build/*
/public/images/avatars
redis.json
.env
_ide_helper.php
_ide_helper_models.php
composer.lock
npm-debug.log.*
Thumbs.db
composer.lock