@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

//Main Site

* {
	-webkit-font-smoothing: antialiased;
}

p {
	word-wrap: break-word;
	word-break: break-word;
}

.replies-wrapper {
    margin-top: 30px;
}

.user-settings {
	margin-bottom: 40px;
}

.navbar-brand {
	height: 80px;
	img {
		height: 50px;
	}
}

.margin-top {
	margin-top: 40px;
}

.margin-bottom {
	margin-bottom: 40px;
}

.navbar-toggle {
	margin-top: 25px;
}

.md-input {
	padding: 10px !important;
}

.follower-container {
	text-align: center;
}

.follower-avatar {
    border-radius: 190px;
    height: 50px;
    padding: 5px;
}

.followers-avatar {
	border-radius: 190px;
	width: 100%;
	padding: 10px;
}

//reikia visur important nes overridina minified style.
.md-editor {
	textarea {
		border: 1px solid @maze-border !important;
		background: @maze-background !important;
		&:focus {
			outline: 0;
			box-shadow: none !important;
		}
	}
	&.active {
		border: none !important;
		box-shadow: none !important;
	}
}

.md-editor .md-footer, .md-editor > .md-header {
	padding: 6px 0;
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block !important;
    margin-bottom: -0.25em;
	background-size: cover;
}

footer {
	background-color: @maze-negative-bg;
	color: @maze-negative-text;
	padding: 40px 0;
	h4 {
		padding-bottom: 13px;
		border-bottom: 1px dashed @maze-primary;
		display: inline-block;
		padding-right: 10px;
	}
	a:hover {
		color: @maze-negative-text;
	}
	.copyright {
		padding-top: 20px;
		color: #68696a;
		font-size: 12px;
	}
}

//Generic Stuff

a.silent:hover {
    text-decoration: none;
}

a.silent {
    font-weight: 100;
    font-size: 12px;
}

p.last-message {
    font-style: italic;
}

ul {
  padding-left: 20px;}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.fa-primary {
	color: @maze-primary;
}

.navbar-user-info {
	
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid @maze-border-faded;

	.fa { 
		margin-right: 10px;
	}
	img.avatar {
		border-radius: 90px;
		margin: 0 20px;
		height: 40px;
		width: 40px;
	}
	.logged-out-wrapper {
		// padding-top: 5px;
		// margin-left: 15px;
		margin: 0 -15px 0 -15px;
	}
}

.main-content {
	border-right: 1px solid @maze-border-faded;
	padding: 0;
}

.content-box {
	padding-right: 40px;
}

.main-sidebar {
	padding-left: 40px;
	padding-top: 40px;
}

.main-sidebar {
	.media-heading {
	    font-size: 13px;
	    padding-top: 10px;
	    margin-bottom: 0;
	}
	.topic-meta-container > span {
	    font-size: 11px;
	}
}

ul.similar-topics > li {
    margin-bottom: 12px;
}

.topic-avatar,
.avatar-object {
	height: 65px;
	width: 65px;
	border-radius: 90px;
	box-sizing: initial;
}

.avatar-object {
	height: 40px;
	width: 40px;
}

.markdown-avatar,
.reply-avatar {
	border-radius: 90px;
	box-sizing: initial;
	height: 40px;
	width: 40px;
}

.markdown-avatar {
	margin-top: 40px;
}

.markdown-form {
	margin: 0;
	padding-left: 30px;
	.media-body {
		border-bottom: none;
	}
}

.status-update-form {
	padding: 0;
}

.media .votes {
	text-align: center;
	padding: 8px 0;
	width: 30px;
}

.media .reply-votes {
	padding: 0;
	font-size: 11px;
}

.vote {
	cursor: pointer;
}

.big-heading {
	margin: 40px 0;
	display: block !important;
}

//maze labeliai

.maze-label {
	padding: 1px 7px;
	border-radius: 3px;
	color: @maze-negative-text;
}

.label-diskusija {
	background: #3498db;
}

.label-pranesimas,
.label-green {
	background: #27ae60;
}

.label-klausimas {
	background: #f39c12;
}

.label-apklausa {
	background: #ae2727;
}

.label-misc,
.label-grey {
	background: #95a5a6;
}

.label-video,
.label-red {
	background: #d71e17;
}

.label-stream {
	background: #6441a5;
}

.label-spam {
	background: #bdc3c7;
}

.label-play {
	background: #1abc9c;
}

.media-meta-element {
	margin-right: 5px;
}

h4.media-heading a {
	color: @maze-text;
}

h1.media-heading {
	font-size: 18px;
}

.downvote:before {
	content: "\f078";
	color: @downvote;
}

.upvote:before {
	content: "\f077";
	color: @upvote;
}

.downvote-active:before {
	content: "\f13a";
	color: @downvote;
}


.upvote-active:before {
	content: "\f139";
	color: @upvote;
}

.positive {
	color: @upvote;
}

.negative {
	color: @downvote;
}

.neutral {
	color: #bdc3c7;
}

.full-width {
	width: 100%;
}

.active-node {
	a {
		color: #1abc9c;
	}
}

.new-topic {
	padding: 15px 50px 15px 20px;
	margin-bottom: 40px;
	text-align: left;
	.fa {
		padding-right: 15px;
		font-size: 18px;
		vertical-align: middle;
	}
}

.parent-icon {
	padding-right: 10px;
	cursor: pointer;
}

.node-list, 
.child-node-list {
	list-style-type: none;
	padding: 0;
}

.child-node-list {
	display: none;
	margin: 10px 0 10px 20px;
	padding: 0 0 0 20px;
	border-left: 1px dashed @maze-border;
}

.node-list li {
  margin: 10px 0;
}

//Temos responsive images

.topic-content {
	padding: 20px;
	color: @maze-text;
	img {
		max-width:100% !important;
	    max-height:100% !important;
	    display:block;
	}
	h1, h2, h3, h4 {
		padding: 5px 0;
		margin: 10px 0;
		border-bottom: 2px dashed @maze-border;
	}
}

.topic-meta {
	padding-top: 10px;
}

.alert-generic {
	margin: 10px 0;
}

.post-show,
.notification-show,
.status-show {
	margin: 0;
	padding: 0 0 0 0;
	// &:nth-child(odd) {
	//   background: @maze-border-faded;
	// }
	.media-body {
		border: none;
		padding: 0 0 20px 0;
		img {
			max-width: 100%;
		}
	}
	.media-left {
		padding: 0 10px 0 0;
	}
	p {
		font-size: 14px;
	}
}

.topic-controls {
	border-bottom: 1px dashed @maze-border;
	padding-bottom: 20px;
	text-align: right;
}

.topic-show {
	border-bottom: 1px solid @maze-border-faded;
	.media-body {
		border: none;
	}
}

.topic-answer {
	margin-left: 10px;
}

.btn-grey {
	background-color: @maze-background;
	color: @maze-grey;
	padding: 0 5px;
	border: none;
	.fa,
	.caret {
		color: @maze-grey;
	}
	&.active {
		box-shadow: none;
		border-top: 1px solid @maze-primary;
	}
	&:hover{
		.fa,
		.caret {
			color: @maze-text;
		}
	}
}

.btn-bigger {
	padding: 15px 50px 15px 20px;
	text-align: left;
}

.green-text {
	color: @maze-primary;
}

.status-comments {
	display: none;
	padding-left: 20px;
	&.display {
		display: block;
		padding-left: 0;
		.media-body {
			border: 0;
		}
	}
}

.status-comment {
	&:first-child {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dashed @maze-border;
	}
	.panel-footer {
		height: 21px;
	}
	.media-body {
		p {
			font-size: 14px;
		}
	}
}

.user-meta {
	margin-bottom: 20px;
}

.user-button {
	text-align: left;
	.fa {
		margin-right: 5px;
	}
}

.banhammer {
	color: @brand-danger;
}

.about-me {
	margin-bottom: 30px;
}

//avatarai

.avatar {
	border-radius: 90px;
	&.profile {
		height: 100px;
		width: 100px;
	}
}

.user-messages-icon,
.user-notifications-icon {
	span {
	    font-size: 11px;
	    color: white;
	    background: @brand-danger;
	    border-radius: 45px;
	    padding: 0 5px;
	    position: absolute;
	    margin-left: -25px;
	    margin-top: 20px;
	    line-height: 16px;
	}
}

.navbar-user-info > a:hover {
	color: inherit;
	text-decoration: none;
}

.conversation-wrapper {
	cursor: pointer;
}

#fb-container {
    background: #3b5998;
    color: #fff;
    font-size: 21px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    display: block;
    &:hover {
    	text-decoration: none;
    	border-bottom: none;
    }
	.fa {
		color: #fff;
	}
}

//Offcanvas

.offcanvas {
	.navbar-nav {
		margin: 0 !important;
		padding: 5px;
	}
}

//zinynas
#kb-nav {
	.nav > li.active > a {
		border-left: 3px solid @maze-primary;
	}
	.nav {
		a {
			padding: 2px 0 2px 5px;
		}
		//antraeiliai nav elementai
		.nav {
			display: none;
		}
		.active {
			.nav {
				display: block;
				a {
					font-weight: normal;
					padding-left: 10px;
					font-size: 12px;
				}
				.active a {
					border-left: 1px solid @maze-primary;
				}
			}
		}
	}
	.affix-top {
		position: relative;
	}
	.affix {
		top: 20px;
	}
}

.affix-bottom {
	position: absolute;
}

.toggle-front-page-node {
    width: 18px;
    height: 18px;
    margin: 0 !important;
    margin-left: -30px !important;
}

#create-reply-form {
	background: @maze-background;
	z-index: 99;
	top: 0;
}

.messenger-form {
	padding-left: 0;
}

.message-create-avatar {
	margin-top: 0;
}

.topic-meta-container {
	color: #7f8c8d;
}

.votes-disabled {
	.upvote-active:before,
	.downvote-active:before,
	.downvote:before,
	.upvote:before
	{
		color: @maze-grey !important;
	}
}

.margin-bottom {
	margin-bottom: 40px;
}

.create-form-wrapper {
	height: 160px;
}

.create-reply-textarea {
	height: 62px !important;
}

.post-show:nth-child(n+2) {
	margin-top: -160px;
	padding-top: 160px;
}

.global-pin {
	background-color: rgb(241, 255, 247);
}

.responsive-embed-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    .responsive-embed {
    	 position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }

}

.notification-list {
	.post-show,
	.status-show,
	.notification-show {
		padding: 20px 0 0 0;
		margin: 0;
		.media-body {
			padding: 0 0 10px 0;
			border-bottom: 1px dashed @maze-border;
		}
	}
	.status-comments {
		padding-bottom: 20px;
		.media-body {
			border-bottom: none;
		}
	}
}

@media (min-width: 1200px) {
    #kb-nav {
    	.affix, 
		.affix-bottom {
	    	width: 263px;
    	}
    }
    #create-reply-form {
    	width: 821px;
    }
}


@media (max-width: 1200px) {
	#create-reply-form {
		width: 696px;
	}
	.content-box {
		padding-right: 15px;
		padding-bottom: 15px;
		> h2 {
			display: none;
		}
	}
}

@media (min-width: 992px) {
	#kb-nav {
		.affix, 
		.affix-bottom {
	    	width: 213px;
		}
	}
}

//pradingsta sonine panele
@media (max-width: 991px) {
	.main-content {
		border-right: none;
	}
	#create-reply-form {
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
	}
}

//phone

@media (max-width: 768px) {
	footer h4 {
		display: block;
	}
	.media {
		.topic-avatar {
			display: none;
		}
	}
	.markdown-form {
		padding: 0;
		.media-object {
			display: none;
		}
	}
}

@media (max-width: 430px) {
	.create-form-wrapper {
		height: 185px;
	}

	.post-show:nth-child(n+2) {
		margin-top: -185px;
		padding-top: 185px;
	}
}
